* {
  box-sizing: border-box !important;
}

.navbar{
    background-color: #E06150;
    height: 84px !important;
}
.navbar-brand{
    font-family: "Darumadrop One", sans-serif !important;
    font-weight: 400;
    margin: 1.5rem 3.4rem !important;
    font-size: 40px;
    letter-spacing: 10%;
}
.navbar .navbar-brand,
.navbar .nav-link {
   color: #FFF7FD !important;
}

.nav-item{
    margin: 1.5rem;
    font-size: 24px;
}

.navbar-nav{
    font-family: "Inter", sans-serif !important;
    font-weight: 700;
    margin: 24px 70px 24px 1020px;
    padding: 0px;
}

