#newPackageModal .modal-title {
    font-family: "Darumadrop One", Times, serif !important;
    font-size: 38px;
    font-weight: 400;
    color: #591A0E
}

#newPackageModal .modal-content {
    background-color: #FFFBF7 !important; 
}