
.navbar{
    background-color: #E06150;
    height: 75px !important;
}
.navbar-brand{
    font-family: "Darumadrop One", sans-serif !important;
    font-weight: 400;
    position: fixed;
    left: 75px !important; 
    font-size: 45px !important;
    letter-spacing: 10%;
    margin-bottom: 8px;
}
.navbar .navbar-brand,
.navbar .nav-link {
   color: #FFF7FD !important;
}

.nav-item{
    margin: 1.5rem;
    font-size: 20px;
}

.navbar-nav{
    font-family: "Inter", sans-serif !important;
    font-weight: 700;
    position: fixed;
    right: 70px !important; 
    padding: 0px;
}

