<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">oink!</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="?category=prime">Prime</a></li>
                <li class="nav-item"><a class="nav-link" href="?category=flatpages">Flatpages</a></li>
            </ul>
        </div>
    </div>
</nav>